<% if @info.comments.count >0 %>

  
  
  <% @info.comments.each do |c| %>
  <%= c.commenter %>
  <%= c.created_at%>
 	<p><%= c.body %> </p>
 		<% if c.commenter==current_user.nickname || @info.host ==current_user.nickname %>
		   	<%= link_to 'Destroy Comment', info_comment_path(@info,c) ,method: :delete, data: { confirm: '確定要刪除留言?' } %>
			<% end %>
	
	<% end %>
<% end %>